body {
    background-color: #A8D0E6;
}
ul{

    list-style-type: none;
    text-align: left;
}

li{
    padding: 5px;
    list-style-type: none;
    text-align: left;
}

#confirmPassword{
    visibility: hidden;
    color:  red;
}

#incorrect, #wrongPassword {
    visibility: hidden;
}

#passwordrules{
    margin: auto;
    padding: 10px;
    background-color: lightgray;
    margin-bottom: 20px;
    width: 90%;
}

#wrongPassword{
    margin: auto;
    padding: 10px;
    background-color: lightgray;
    width: 90%;
}


