ul{

    list-style-type: none;
    text-align: left;
}

li{
    padding: 5px;
    list-style-type: none;
    text-align: left;
}

#confirmPassword{
    visibility: hidden;
    color:  red;
}

#incorrect, #wrongPassword {
    visibility: hidden;
}

body{
    background-color: #ABD0E6;
}
.header li #logout{
    float:right;
}
.header li #logout:hover{
    background-color: #24305E;
}
buttonSubmit {
    color: yellow;

}
h4{
color: #24305E;
}

li{
    color: #24305E;   
}


.loginsign {
    background-color: #F76C6C;
}

.IconButton {
   
    background-color : white;  
}


#passwordrules{
    margin: auto;
    padding: 10px;
    background-color:#F8E981;;
    margin-bottom: 20px;
    width: 90%;
}


#wrongPassword{
    margin: auto;
    padding: 10px;
    background-color: #24305E;
    width: 90%;
}
.button {
    background-color: #4CAF50; 
}



