.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  /* color of nav bar */
  background-color: #24305E; 
  padding: 20px 10px;
}



.header li {
  float: left;
  color: #ABD0E6;
  text-align: center;
  padding: 12px;
  list-style-type: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header ul {
  text-decoration: none;
}

.header li:hover {
  background-color: #F76C6C;
  color: #24305E;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
