#ssh keys & secure credentials
*.pem
*.pub
credentials.js

# VS Code Created Application Files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# WindowsOS Files
*.ds



# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

