.header li #logout {
    float:right;
}
.header li #logout:hover {
background-color:#f1f1f1;
  
}
h1 {
    background-color: green;
  }
  .Typography  {
    background-color: green;
  }

.header li #logout Button{
    background-color:#5a3ebd;
    border-radius:6px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:13px;
    padding:5px 10px;
    text-decoration:none;
}
.header li #logout button:hover {
    background-color:#476e9e;
}
.header li #logout button:active {
    position:relative;
    top:1px;
}



